[Unit]
Description=blit terminal multiplexer
Requires=blit.socket

[Service]
Type=simple
ExecStart=blit server
Restart=no

[Install]
WantedBy=default.target
