[Unit]
Description=blit terminal multiplexer socket
Conflicts=blit-server.socket

[Socket]
ListenStream=%t/blit-default.sock
SocketMode=0700

[Install]
WantedBy=sockets.target
