---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import DemoBlocks from "../components/DemoBlocks.astro";
import Comparison from "../components/Comparison.astro";
import AgentSkillSection from "../components/AgentSkillSection.astro";
import EmbedSection from "../components/EmbedSection.astro";
import PlatformSection from "../components/PlatformSection.astro";
import KnownLimitationsSection from "../components/KnownLimitationsSection.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="flex min-h-screen flex-col bg-[var(--bg)]">
    <Header />
    <main class="flex-1">
      <Hero />
      <div id="how"><HowItWorks /></div>
      <DemoBlocks />
      <div id="compare"><Comparison /></div>
      <AgentSkillSection />
      <EmbedSection />
      <PlatformSection />
      <KnownLimitationsSection />
      <CTA />
    </main>
    <Footer />
  </div>
</Layout>
